* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #fdfdfd;
  color: #000000;
}
li > ul, li > ol {
  margin-top: 0;
}
a {
  text-decoration: inherit;
  color: inherit;
}
p a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  text-decoration: inherit;
  color: inherit;
}
p ol, p ul {
  padding-left: 50px;
}
li {
  list-style-position: outside;
}

/**
 * Header
 */
:root {
  --logo-height: 200px;
  --logo-vertical: 34vh;
  --logo-title-distance: 8vh;
}
.wmk2020-top-header {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
  background-image: url('../images/header-image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.wmk2020-top-logo {
  position: absolute;
  /* Intentionally use vw for height. Logo is ~ 2:1 landscape.
   * This makes it scale down on smaller screers.
   */
  height: min( var(--logo-height), 40vw );
  left: 50vw;
  top: var(--logo-vertical);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.wmk2020-top-logo-img {
  /* 120% is enough to crop the text embedded in the image,
   * as the container is overflow: hidden. Percentage scales
   * well with the container.
   */
  height: 120%;
  width: auto;
}
.wmk2020-top-h1 {
  position: absolute;
  left: 0;
  /* This positions the header text just below the image. */
  top: calc( var(--logo-vertical) + ( var(--logo-height) / 2 ) + var(--logo-title-distance) );
  width: 100%;
  color: #fdfdfd;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 22pt;
}
@media(max-width: 600px) {
  .wmk2020-top-h1 {
    font-size: 4.83vw;
  }
}
.wmk2020-wide-title {
  display: block;
}
.wmk2020-short-title {
  display: none;
}
.wmk2020-top-caption {
  text-align: center;
  width: 100%;
  color: #fdfdfd;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
  text-transform: none;
}
@media(min-width: 1200px) {
  :root {
    /* 1200px / 200px (in regular format) == 0.167. */
    --logo-height: 16.7vw;
  }
  .wmk2020-top-h1 {
    /** 22pt set above ~ 29px which is 0.02142 of 1200px. */
    font-size: 2.412vw;
  }
  .wmk2020-top-caption {
    /* 16pt set above ~ 22px which is 0.01833 of 1200px. */
    font-size: 1.833vw;
  }
}
.wmk2020-social-nav {
  font-size: 50px;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  left: 0; 
  top: 0;
  text-align: right;
  text-decoration: none;
}
.wmk2020-social-button {
  color: #fdfdfd;
  transition: 0.3s;
}
.wmk2020-social-yt:hover {
  color: #ff0000;
}
.wmk2020-social-fb:hover {
  color: #4267B2;
}

/**
 * Footer
 */
.wmk2020-footer {
  display: flex;
  align-items: stretch;
  background: #2e2e2e;
  color: #ededed;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0;
  font-weight: 300;
}
.wmk2020-footer > *:not(:first-child) {
  margin-left: var(--space-between);
}
.wmk2020-not-front-page ~ .wmk2020-footer {
  padding-left: calc( var(--margin-left) + var(--space-between) + var(--post-aside-width) );
}
.wmk2020-footer ul {
  list-style-type: none;
  padding-left: 0;
}
.wmk2020-footer li:not(:first-child) {
  padding-top: 24px;
}
.wmk2020-footer a {
  text-decoration: none;
}
.wmk2020-footer a:hover {
  text-decoration: underline;
}
.wmk2020-footer-nav {
  width: 200px;
  flex-grow: 1;
}
.wmk2020-footer-contact-info {
  display: none;
  width: 400px;
  flex-grow: 2;
  font-style: normal;
}
.wmk2020-not-front-page ~ .wmk2020-footer .wmk2020-footer-contact-info {
  display: block;
}
.wmk2020-footer-logo {
  width: 200px;
  flex-shrink: 1;
}
.wmk2020-footer-logo-img {
  max-width: 100%;
  height: auto;
}


/**
 * Menu display.
 */
@media (max-width: 600px) {
  .wmk2020-nav-burger {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-color: #fdfdfd;
    z-index: 1000;
  }
  .wmk2020-burger-bar1, .wmk2020-burger-bar2, .wmk2020-burger-bar3 {
    width: 22px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .wmk2020-nav-close {
    display: inline-block;
    cursor: pointer;
    margin: 0;
  }
  .wmk2020-nav-close-bar1, .wmk2020-nav-close-bar2 {
    width: 28px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
  .wmk2020-nav-close-bar1 {
    -webkit-transform: rotate(-45deg) translate(0px, 6px) ;
    transform: rotate(-45deg) translate(0px, 6px) ;
  }
  .wmk2020-nav-close-bar2 {
    -webkit-transform: rotate(45deg) translate(0px, -6px) ;
    transform: rotate(45deg) translate(0px, -6px) ;
  }

  .wmk2020-navbar {
    overflow: hidden;
    background-color: #f0f0f0;
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 2;
    left: -280px;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    line-height: 24px;
    font-size: 1em;
    color: #FFF3B0;
  }
  .wmk2020-navbar-close {
    position: fixed;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
  }
  .wmk2020-navbar-close-text {
    display: none;
  }
  .wmk2020-navbar li {
    display: block;
  }
  .wmk2020-navbar a, .wmk2020-navbar a:active, .wmk2020-navbar a:visited {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 16px;
    color: #101010;
    height: 56px;
  }

  #expand-menu, #close-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }
  #expand-menu:target .wmk2020-navbar {
    left: 0;
  }
  #expand-menu:target .wmk2020-navbar {
    left: 0;
    transition: 0.5s;
  }
  #expand-menu:target li {
    float: none;
    width: 100%;
  }
  #expand-menu:target .wmk2020-navbar-close {
    display: block;
  }
}
@media (min-width: 601px) {
  :root {
    --horizontal-menu-height: 72px;
  }
  #close-menu {
    display: none;
  }
  .wmk2020-nav-close {
    display: none;
  }
  .wmk2020-navbar-close {
    display: none;
  }
  /* Use table, table-row, table-cell display in nested elements,
   * so that menu items have the same width.
   */
  .wmk2020-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table;
    height: var(--horizontal-menu-height);
    font-weight: 700;
    font-size: 16pt;
  }
  .wmk2020-navbar .menu {
    display: table-row;
  }
  .wmk2020-navbar .menu-item {
    display: table-cell;
  }
  .wmk2020-navbar .menu-item:first-child {
    display: none;
  }
  .wmk2020-navbar .menu-item a {
    /* To vertically align text. */
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fdfdfd;
    height: var(--horizontal-menu-height);
    position: relative;
  }
  .wmk2020-menu-item-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
@media(min-width: 1200px) {
  .wmk2020-navbar {
    font-size: 20pt;
  }
}

/**
 * Front page
 */
.wmk2020-main {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.wmk2020-main h2 {
  padding-top: 60px;
  padding-bottom: 51px;
  font-family: 'Eczar', serif;
  font-size: 44px;
  line-height: 44px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 auto;
  width: fit-content;
}
.wmk2020-main h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
}
.wmk2020-front-post-title {
  text-decoration: none;
  margin: 22px 0 15px 0;
}
.wmk2020-front-posts-list {
  position: relative;
}
.wmk2020-front-posts-more {
  text-align: right;
}
.wmk2020-main-section, .wmk2020-main p {
  padding-bottom: 18px;
}
.wmk2020-front-section {
  /* Right margin is always uniform, so universally apply on the bottom too. */
  padding: 0 var(--margin-right) var(--margin-right) var(--margin-left);
  margin: 0;
}
.wmk2020-front-section-title {
  padding-top: 30px;
}
@media (max-width: 600px) {
  :root {
    --margin-left: 0;
    --margin-right: 0;
    --inner-margin-left: 22px;
    --inner-margin-right: 22px;
  }
  .wmk2020-front-post-image-box {
    width: 100%;
    height: auto;
  }
  .wmk2020-front-post-image {
    width: 100vw;
    height: auto;
  }
  .wmk2020-front-post-title, .wmk2020-front-post-excerpt {
    padding-left: var(--inner-margin-left);
    padding-right: var(--inner-margin-right);
  }
}
.wmk2020-front-posts-list {
  list-style: none;
}
@media (min-width: 601px) {
  :root {
    --margin-side: 72px;
    --margin-left: var(--margin-side);
    --margin-right: var(--margin-side);
    --space-between: 18px;
  }
  .wmk2020-front-posts-list {
    display: flex;
    --posts-lists-width: calc( ( 100vw - var(--margin-left) - var(--margin-right) ) );
    width: var(--posts-lists-width);
    box-sizing: border-box;
    padding-left: 0;
  }
  .wmk2020-front-posts-list li {
    /* TODO: Something wrong here. Computes too widely. */
    --post-width: calc( ( var(--posts-lists-width) - 2 * var(--space-between) ) / 3 );
    width: var(--post-width);
    margin-left: var(--space-between);
  }
  .wmk2020-front-posts-list li:first-child {
    margin-left: 0;
  }
  .wmk2020-front-post-image-box {
    width: var(--post-width);
    height: calc( 9 * var(--post-width) / 16 );  /* 16/9 ratio */
    overflow: hidden;
  }
  .wmk2020-front-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wmk2020-front-post-excerpt {
    padding: 0 0 19px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
}
@media (max-width: 600px) {
  .wmk2020-front-section-support {
    background-color: #efefef;
    color: #020202;
    padding-bottom: 1px;
  }
  .wmk2020-support-list {
    list-style: none;
  }
  .wmk2020-support-item {
    display: block;
    margin-left: var(--inner-margin-left);
    margin-right: var(--inner-margin-right);
    margin-bottom: var(--inner-margin-right);
    padding-bottom: 30px;
    text-align: center;
    background-color: rgba(250, 250, 250);
    text-transform: lowercase;
    color: #020202;
  }
  .wmk2020-support-item-img {
    width: 70vw;
    height: auto;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .wmk2020-front-section-support-caption {
    padding: 0 var(--inner-margin-left) 18px var(--inner-margin-right);
  }
}
@media (min-width: 601px) {
  .wmk2020-front-section-support {
    background-color: #efefef;
    color: #efefef;
    background-image: url(../images/support-background-large.jpg);
    background-size: cover;
    background-position-y: center;
  }
  .wmk2020-front-section-support h2 {
    background: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(3px);
    color: #0d0d0d;
    width: 100%;
    text-align: center;
  }
  .wmk2020-front-section-support-caption {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15vw 30px 15vw;
    line-height: 24px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    background: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(3px);
  }
  .wmk2020-support-list {
    display: flex;
    position: relative;
    list-style: none;
    padding-left: 0;
    width: 100%;
    --section-width: calc( ( 100vw - var(--margin-left) - var(--margin-right) - ( 2 * var(--space-between) ) ) / 3 );
  }
  .wmk2020-support-list::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(3px);
  }
  .wmk2020-support-item {
    z-index: 2;
    color: #020202;
  }
  .wmk2020-front-section-support h3 {
    text-transform: lowercase;
    margin: 18px 0 36px 0;
  }
  .wmk2020-support-item {
    width: var(--section-width);
    text-align: center;
    z-index: 2;
  }
  .wmk2020-support-item:not(:first-child) {
    margin-left: var(--margin-left);
  }
  .wmk2020-support-item-img {
    width: calc( var(--section-width) * 0.7 );
    height: calc( var(--section-width) * 0.7 );
  }
}
@media (max-width: 600px) {
  .wmk2020-front-section-contact {
    padding-left: var(--inner-margin-left);
    padding-right: var(--inner-margin-right);
  }
}

/**
 * Posts
 */
@media (max-width: 600px) {
  .wmk2020-main {
    margin: 0 auto;
    width: 100%;
    max-width: 748px;
    box-sizing: border-box;
    padding: 0;
  }
  .wmk2020-card-image-container {
    width: 100vw;
    height: 60vw;
    overflow: hidden;
  }
  .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card-content {
    padding: 22px 22px 55px 22px;
    background-color: #ffffff;
  }
  .wmk2020-card-title {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .wmk2020-card-excerpt {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}
@media (min-width: 601px) {
  .wmk2020-main {
    padding: 0;
    width: 100%;
  }
  .wmk2020-card {
    width: 100vw;
    padding: 36px 36px 0 36px;
    box-sizing: border-box;
  }
  .wmk2020-card-image-container {
    width: 100%;  /* 100% width - 72px for margins */
    height: calc( 9 * ( 100vw - 72px ) / 16 );  /* 16/9 ratio */
    overflow: hidden;
  }
  .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card-content {
    padding: 22px 0 19px 0;
  }
  .wmk2020-card-title {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 15px 0;
  }
  .wmk2020-card-excerpt {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .wmk2020-card.sticky {
    width: 100vw;
    height: 60vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;  /* Need negative due to relative positioning. Otherwise pops above menu. */
  }
  .wmk2020-card.sticky .wmk2020-card-image-container {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
  }
  .wmk2020-card.sticky .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card.sticky .wmk2020-card-content {
    position: absolute;
    right: 36px;
    top: 36px;
    color: #fefefe;
    text-align: right;
    width: 60vw;
  }
}


.wmk2020-page-logo {
  position: absolute;
  height: 80px;
  left: 50vw;
  top: 20px;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.wmk2020-page-h1 {
  position: absolute;
  left: var(--margin-left);
  top: 55vh;
  width: 100%;
  color: #fdfdfd;
  margin: 0;
  text-align: left;
  font-family: 'Eczar', serif;
}
.wmk2020-post-exerpt {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  font-weight: 400;
}
@media (max-width: 600px) {
  .wmk2020-page-h1 {
    left: 0;
    text-align: center;
    font-size: 30pt;
  }
  .wmk2020-post-exerpt {
    margin: 0 auto;
    width: 60vw;
    display: block;
    text-align: left;
  }
}
@media (min-width: 601px) {
  .wmk2020-page-h1 {
    font-size: 48pt;
  }
  .wmk2020-post-exerpt {
    width: 60vw;
    display: block;
    text-align: left;
  }
}
.wmk2020-page-top-header {
  /* compensate if post-exerpt not present. */
  margin-bottom: 46px;
}
.wmk2020-front-top-header {
  /* give first header a little more spece from the landing image section. */
  margin-bottom: 36px;
}
.wmk2020-post-content {
  font-family: 'Eczar', serif;
  font-weight: 400;
  font-size: 15pt;
  line-height: 1.6;
}
.wmk2020-post-content ol, .wmk2020-post-content ul {
  margin-left: 1.5em;
}
.wmk2020-post-content em {
  background-color: #efefef;
  text-decoration: underline #cecece;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-style: normal;
}
.wmk2020-post-content img {
  width: 100%;
  height: auto;
}
.wmk2020-post-content p:first-child::first-letter {
  font-size: 5em;
  float: left;
  line-height: 0.65;
  margin: 0.1em 0.05em 0 0;
}
.wmk2020-post-content p, .wmk2020-post-content li {
  text-align: justify;
}
@media (max-width: 600px) {
  .wmk2020-post-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 601px) {
  :root {
    --post-aside-width: 150px;
    --post-right-extra-width: var(--post-aside-width);
  }
  .wmk2020-post-content {
    padding-left: calc( var(--margin-left) + var(--space-between) + var(--post-aside-width) );
    padding-right: calc( var(--margin-right) + var(--space-between) + var(--post-right-extra-width) );
  }
}