* {
  font-family: 'Roboto', sans;
}
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #fdfdfd;
}
li > ul, li > ol {
  margin-top: 0;
}
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
ol, ul {
  padding-left: 50px;
}
li {
  list-style-position: outside;
}

/**
 * Header
 */
 :root {
   --logo-height: 200px;
   --logo-vertical: 44vh;
 }
.wmk2020-top-header {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
  background-image: url('../images/header-image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.wmk2020-top-logo {
  position: absolute;
  /* Intentionally use vw for height. Logo is ~ 2:1 landscape.
   * This makes it scale down on smaller screers.
   */
  height: min( var(--logo-height), 40vw );
  left: 50vw;
  top: var(--logo-vertical);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.wmk2020-top-logo-img {
  /* 120% is enough to crop the text embedded in the image,
   * as the container is overflow: hidden. Percentage scales
   * well with the container.
   */
  height: 120%;
  width: auto;
}
.wmk2020-top-h1 {
  position: absolute;
  left: 0;
  /* This positions the header text just below the image. */
  top: calc( var(--logo-vertical) + ( var(--logo-height) / 2 ) );
  width: 100%;
  color: #fdfdfd;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.wmk2020-wide-title {
  display: block;
}
.wmk2020-short-title {
  display: none;
}


/**
 * Menu display.
 */
@media (max-width: 600px) {
  .wmk2020-nav-burger {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-color: #fdfdfd;
  }
  .wmk2020-burger-bar1, .wmk2020-burger-bar2, .wmk2020-burger-bar3 {
    width: 22px;
    height: 2px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .wmk2020-nav-close {
    display: inline-block;
    cursor: pointer;
    margin: 0;
  }
  .wmk2020-nav-close-bar1, .wmk2020-nav-close-bar2 {
    width: 28px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }
  .wmk2020-nav-close-bar1 {
    -webkit-transform: rotate(-45deg) translate(0px, 6px) ;
    transform: rotate(-45deg) translate(0px, 6px) ;
  }
  .wmk2020-nav-close-bar2 {
    -webkit-transform: rotate(45deg) translate(0px, -6px) ;
    transform: rotate(45deg) translate(0px, -6px) ;
  }

  .wmk2020-navbar {
    overflow: hidden;
    background-color: #f0f0f0;
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 2;
    left: -280px;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    line-height: 24px;
    font-size: 1em;
    color: #FFF3B0;
  }
  .wmk2020-navbar-close {
    position: fixed;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
  }
  .wmk2020-navbar-close-text {
    display: none;
  }
  .wmk2020-navbar li {
    display: block;
  }
  .wmk2020-navbar a, .wmk2020-navbar a:active, .wmk2020-navbar a:visited {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    padding: 16px;
    color: #101010;
    height: 56px;
  }

  #expand-menu, #close-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
  #expand-menu:target .wmk2020-navbar {
    left: 0;
  }
  #expand-menu:target .wmk2020-navbar {
    left: 0;
    transition: 0.5s;
  }
  #expand-menu:target li {
    float: none;
    width: 100%;
  }
  #expand-menu:target .wmk2020-navbar-close {
    display: block;
  }
}
@media (min-width: 601px) {
  :root {
    --horizontal-menu-height: 56px;
  }
  #close-menu {
    display: none;
  }
  .wmk2020-nav-close {
    display: none;
  }
  .wmk2020-navbar-close {
    display: none;
  }
  /* Use table, table-row, table-cell display in nested elements,
   * so that menu items have the same width.
   */
  .wmk2020-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table;
    height: var(--horizontal-menu-height);
  }
  .wmk2020-navbar .menu {
    display: table-row;
  }
  .wmk2020-navbar .menu-item {
    display: table-cell;
  }
  .wmk2020-navbar .menu-item:first-child {
    display: none;
  }
  .wmk2020-navbar .menu-item a {
    /* To vertically align text. */
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fdfdfd;
    height: var(--horizontal-menu-height);
    position: relative;
  }
  .wmk2020-menu-item-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/**
 * Front page
 */
@media (min-width: 601px) {
  .wmk2020-main {
    --margin-side: 36px;
  }
  .wmk2020-main h2 {
    margin-left: var(--margin-side);
  }
  .wmk2020-main {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
  .wmk2020-main-section {
    min-height: 50vh;
    padding: 0;
    margin: 36px var(--margin-side) 0 var(--margin-side);
  }
  .wmk2020-main-posts {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
  }
  .wmk2020-main-posts li {
    --space-between: 18px;
    --post-width: calc( ( 100vw - ( 2 * var(--margin-side) ) ) / 3 - 2 * ( var(--space-between) / 3 ) );
    width: var(--post-width);
    margin-left: var(--space-between);
  }
  .wmk2020-main-posts li:first-child {
    margin-left: 0;
  }
  .wmk2020-main-posts .wp-block-latest-posts__featured-image {
    width: var(--post-width);
    height: calc( 9 * var(--post-width) / 16 );  /* 16/9 ratio */
    overflow: hidden;
  }
  .wmk2020-main-posts img {
    width: 100%;
    height: auto;
  }
  .wmk2020-main-posts .wp-block-latest-posts__post-excerpt {
    padding: 0 0 19px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
  .wmk2020-main-posts li>a {
    display: block;
    font-size: 30px;
    line-height: 34px;
    margin: 22px 0 15px 0;
    text-decoration: none;
  }
}

/**
 * Posts
 */
@media (max-width: 600px) {
  .wmk2020-main {
    margin: 0 auto;
    width: 100%;
    max-width: 748px;
    box-sizing: border-box;
    padding: 0;
  }
  .wmk2020-card-image-container {
    width: 100vw;
    height: 60vw;
    overflow: hidden;
  }
  .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card-content {
    padding: 22px 22px 55px 22px;
    background-color: #ffffff;
  }
  .wmk2020-card-title {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .wmk2020-card-excerpt {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}
@media (min-width: 601px) {
  .wmk2020-main {
    padding: 0;
    width: 100%;
  }
  .wmk2020-card {
    width: 100vw;
    padding: 36px 36px 0 36px;
    box-sizing: border-box;
  }
  .wmk2020-card-image-container {
    width: 100%;  /* 100% width - 72px for margins */
    height: calc( 9 * ( 100vw - 72px ) / 16 );  /* 16/9 ratio */
    overflow: hidden;
  }
  .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card-content {
    padding: 22px 0 19px 0;
  }
  .wmk2020-card-title {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 15px 0;
  }
  .wmk2020-card-excerpt {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  .wmk2020-card.sticky {
    width: 100vw;
    height: 60vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;  /* Need negative due to relative positioning. Otherwise pops above menu. */
  }
  .wmk2020-card.sticky .wmk2020-card-image-container {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
  }
  .wmk2020-card.sticky .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card.sticky .wmk2020-card-content {
    position: absolute;
    right: 36px;
    top: 36px;
    color: #fefefe;
    text-align: right;
    width: 60vw;
  }
}