* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #fdfdfd;
  color: #000000;
}
li > ul, li > ol {
  margin-top: 0;
}
a {
  text-decoration: inherit;
  color: inherit;
}
p a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  text-decoration: inherit;
  color: inherit;
}
p ol, p ul {
  padding-left: 50px;
}
li {
  list-style-position: outside;
}

/**
 * Fonts
 */
body {
  font-family: 'Roboto', sans;
}
.wmk2020t-header-1 {
  font-size: 28pt;
  text-transform: uppercase;
  font-weight: 700;
}
.wmk2020t-header-2, .wmk2020-post-content h2 {
  font-size: 22pt;
  text-transform: none;
  font-weight: 400;
  line-height: 28pt;
}
.wmk2020t-paragraph, p, .wmk2020-post-content {
  font-size: 12pt;
  text-transform: none;
  font-weight: 300;
  line-height: 18pt;
}

/**
 * Header
 */
:root {
  --logo-height: 200px;
  --logo-vertical: 34vh;
  --logo-title-distance: 8vh;
}
.wmk2020-top-header {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
  background-image: url('../images/header-image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.wmk2020-top-logo {
  position: absolute;
  /* Intentionally use vw for height. Logo is ~ 2:1 landscape.
   * This makes it scale down on smaller screers.
   */
  height: min( var(--logo-height), 40vw );
  left: 50vw;
  top: var(--logo-vertical);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.wmk2020-top-logo-img {
  /* 120% is enough to crop the text embedded in the image,
   * as the container is overflow: hidden. Percentage scales
   * well with the container.
   */
  height: 120%;
  width: auto;
}
.wmk2020-front-title {
  position: absolute;
  left: 0;
  /* This positions the header text just below the image. */
  top: calc( var(--logo-vertical) + ( var(--logo-height) / 2 ) + var(--logo-title-distance) );
  width: 100%;
  color: #fdfdfd;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 22pt;
}
@media(max-width: 600px) {
  .wmk2020-front-title {
    font-size: 4.83vw;
  }
}
.wmk2020-front-caption {
  text-align: center;
  width: 100%;
  color: #fdfdfd;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
  text-transform: none;
}
@media(min-width: 1200px) {
  :root {
    /* 1200px / 200px (in regular format) == 0.167. */
    --logo-height: 16.7vw;
  }
  .wmk2020-front-title {
    /** 22pt set above ~ 29px which is 0.02142 of 1200px. */
    font-size: 2.412vw;
  }
  .wmk2020-front-caption {
    /* 16pt set above ~ 22px which is 0.01833 of 1200px. */
    font-size: 1.833vw;
  }
}
.wmk2020-social-nav {
  font-size: 50px;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  left: 0; 
  top: 0;
  text-align: right;
  text-decoration: none;
}
.wmk2020-social-button {
  color: #fdfdfd;
  transition: 0.3s;
}
.wmk2020-social-mail:hover {
  color: #ffe082;
}
.wmk2020-social-yt:hover {
  color: #ff0000;
}
.wmk2020-social-fb:hover {
  color: #4267B2;
}

/**
 * Footer
 */
.wmk2020-footer {
  display: flex;
  align-items: stretch;
  background: #2e2e2e;
  color: #ededed;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0;
  font-weight: 300;
}
.wmk2020-footer > *:not(:first-child) {
  margin-left: var(--space-between);
}
.wmk2020-not-front-page ~ .wmk2020-footer {
  padding-left: calc( var(--margin-left) + var(--space-between) + var(--post-aside-width) );
}
.wmk2020-footer ul {
  list-style-type: none;
  padding-left: 0;
}
.wmk2020-footer li:not(:first-child) {
  padding-top: 24px;
}
.wmk2020-footer a {
  text-decoration: none;
}
.wmk2020-footer a:hover {
  text-decoration: underline;
}
.wmk2020-footer-nav {
  width: 200px;
  flex-grow: 1;
}
.wmk2020-footer-contact-info {
  display: none;
  width: 400px;
  flex-grow: 2;
  font-style: normal;
}
.wmk2020-not-front-page ~ .wmk2020-footer .wmk2020-footer-contact-info {
  display: block;
}
.wmk2020-footer-logo {
  width: 200px;
  flex-shrink: 1;
}
.wmk2020-footer-logo-img {
  max-width: 100%;
  height: auto;
}


/**
 * Menu display in wmk-menu-mobile.css and wmk-menu-wide.css;
 * On the front page wmk-menu-mobile.css is displayed for (max-width: 600px)
 * and the wmk-menu-wide.css is displayed form (min-width: 601px).
 * On all other pages, only the mobile menu is displayed.
 */

/**
 * Front page
 */
.wmk2020-front-section-title {
  padding-top: 60px;
  padding-bottom: 51px;
  margin: 0 auto;
  width: fit-content;
}
.wmk2020-front-post-title {
  margin: 22px 0 15px 0;
}
.wmk2020-front-posts-list {
  position: relative;
}
.wmk2020-front-posts-more {
  text-align: right;
}
.wmk2020-main-section, .wmk2020-main p {
  padding-bottom: 18px;
}
.wmk2020-front-section {
  /* Right margin is always uniform, so universally apply on the bottom too. */
  padding: 0 var(--margin-right) var(--margin-right) var(--margin-left);
  margin: 0;
}
@media (max-width: 600px) {
  :root {
    --margin-left: 0;
    --margin-right: 0;
    --inner-margin-left: 22px;
    --inner-margin-right: 22px;
  }
  .wmk2020-front-post-image-box {
    width: 100%;
    height: auto;
  }
  .wmk2020-front-post-image {
    width: 100vw;
    height: auto;
  }
  .wmk2020-front-post-title, .wmk2020-front-post-excerpt {
    padding-left: var(--inner-margin-left);
    padding-right: var(--inner-margin-right);
  }
}
.wmk2020-front-posts-list {
  list-style: none;
}
@media (min-width: 601px) {
  :root {
    --margin-side: 72px;
    --margin-left: var(--margin-side);
    --margin-right: var(--margin-side);
    --space-between: 24px;
  }
  .wmk2020-front-posts-list {
    display: flex;
    --posts-lists-width: calc( ( 100vw - var(--margin-left) - var(--margin-right) ) );
    width: var(--posts-lists-width);
    box-sizing: border-box;
    padding-left: 0;
  }
  .wmk2020-front-posts-list li {
    /* TODO: Something wrong here. Computes too widely. */
    --post-width: calc( ( var(--posts-lists-width) - 2 * var(--space-between) ) / 3 );
    width: var(--post-width);
    margin-left: var(--space-between);
  }
  .wmk2020-front-posts-list li:first-child {
    margin-left: 0;
  }
  .wmk2020-front-post-image-box {
    width: var(--post-width);
    height: calc( 9 * var(--post-width) / 16 );  /* 16/9 ratio */
    overflow: hidden;
  }
  .wmk2020-front-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wmk2020-front-post-excerpt {
    padding: 0 0 19px 0;
  }
}
@media (max-width: 600px) {
  .wmk2020-front-section-support {
    background-color: #efefef;
    color: #020202;
    padding-bottom: 1px;
  }
  .wmk2020-support-list {
    list-style: none;
  }
  .wmk2020-support-item {
    display: block;
    margin-left: var(--inner-margin-left);
    margin-right: var(--inner-margin-right);
    margin-bottom: var(--inner-margin-right);
    padding-bottom: 30px;
    text-align: center;
    background-color: rgba(250, 250, 250);
    text-transform: lowercase;
    color: #020202;
  }
  .wmk2020-support-item-img {
    width: 70vw;
    height: auto;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .wmk2020-front-section-support-caption {
    padding: 0 var(--inner-margin-left) 18px var(--inner-margin-right);
  }
}
@media (min-width: 601px) {
  .wmk2020-front-section-support {
    background-color: #efefef;
    color: #efefef;
    background-image: url(../images/support-background-large.jpg);
    background-size: cover;
    background-position-y: center;
  }
  .wmk2020-front-section-support h2 {
    background: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(3px);
    color: #0d0d0d;
    width: 100%;
    text-align: center;
  }
  .wmk2020-front-section-support-caption {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15vw 30px 15vw;
    color: #0d0d0d;
    text-align: center;
    background: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(3px);
  }
  .wmk2020-support-list {
    display: flex;
    position: relative;
    list-style: none;
    padding-left: 0;
    width: 100%;
    --section-width: calc( ( 100vw - var(--margin-left) - var(--margin-right) - ( 2 * var(--space-between) ) ) / 3 );
  }
  .wmk2020-support-list::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(250, 250, 250, 0.8); 
    backdrop-filter: blur(3px);
  }
  .wmk2020-support-item {
    z-index: 2;
    color: #020202;
  }
  .wmk2020-front-section-support h3 {
    text-transform: lowercase;
    margin: 18px 0 36px 0;
  }
  .wmk2020-support-item {
    width: var(--section-width);
    text-align: center;
    z-index: 2;
  }
  .wmk2020-support-item:not(:first-child) {
    margin-left: var(--margin-left);
  }
  .wmk2020-support-item-img {
    width: calc( var(--section-width) * 0.7 );
    height: calc( var(--section-width) * 0.7 );
  }
}
@media (max-width: 600px) {
  .wmk2020-front-section-contact {
    padding-left: var(--inner-margin-left);
    padding-right: var(--inner-margin-right);
  }
}
@media (min-width: 601px) {
  .wmk2020-front-section-contact {
    --contact-form-width: calc( ( 100vw - var(--margin-left) - var(--margin-right) ) / 3 );
    --contact-subheader-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wmk2020-front-section-title.wmk2020-contact-title {
    width: calc( 100vw - var(--margin-left) - var(--margin-right) );
    text-align: center;
  }
  .wmk2020-contact-paragraph {
    padding-top: var(--contact-subheader-height);
    width: calc( 100vw - var(--margin-left) - var(--margin-right) - var(--space-between) - var(--contact-form-width) );
  }
  .wmk2020-contact-form {
    width: var(--contact-form-width);
  }
  .wmk2020-contact-subheader {
    box-sizing: border-box;
    height: var(--contact-subheader-height);
  }
}
.wmk2020-contact-paragraph-logo {
  float: left;
  display: block;
  width: 30px;
  transform: translateY(1px);
  text-align: center;
}
.wmk2020-contact-paragraph-text {
  margin-left: 40px;
}
.wmk2020-contact-paragraph-text::after {
  content: " ";
  clear: both;
}

/**
 * Contact form
 */
.wmk2020-contact-form {
  --form-primary-color: #9d1409;
  --form-animation-duration: 0.4s;
}
.wmk2020-form-field {
  display: block;
  margin-bottom: 16px;
}
.wmk2020-form-field-label {
  font-size: 0.75rem;
  transform: translateY(-14px);
  display: block;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all var(--form-animation-duration);
  width: 100%;
}
.wmk2020-form-field-control {
  background: #f7f7f7;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wmk2020-form-field-bar {
  border-bottom: 2px solid var(--form-primary-color);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all var(--form-animation-duration);
  width: 1%;
}
.wmk2020-form-field-text {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}
.wmk2020-form-submit {
  display: block;
  width: 100%;
  padding: 18px;
  background: #9d1409;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  border: none;
}
/* IE 10-11 */
.wmk2020-form-field-text:-ms-input-placeholder ~ .wmk2020-form-field-label {
  font-size: 0.75rem;
  transform: translateY(-14px);
}
/* All other browsers except Edge */
.wmk2020-form-field-text:placeholder-shown ~ .wmk2020-form-field-label {
  font-size: 1.2rem;
  transform: translateY(0);
}
.wmk2020-form-field-text:focus ~ .wmk2020-form-field-label {
  color: var(--form-primary-color);
  font-size: 0.75rem;
  transform: translateY(-14px);
}
.wmk2020-form-field-text:focus ~ .wmk2020-form-field-bar {
  border-bottom: 2px solid var(--form-primary-color);
  transform: scaleX(150);
}
.wmk2020-form-field-textarea {
  height: 150px;
}

/**
 * Posts
 */
@media (max-width: 600px) {
  .wmk2020-main {
    margin: 0 auto;
    width: 100%;
    max-width: 748px;
    box-sizing: border-box;
    padding: 0;
  }
  .wmk2020-card-image-container {
    width: 100vw;
    height: 60vw;
    overflow: hidden;
  }
  .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card-content {
    padding: 22px 22px 55px 22px;
    background-color: #ffffff;
  }
  .wmk2020-card-title {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .wmk2020-card-excerpt {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}
@media (min-width: 601px) {
  .wmk2020-main {
    padding: 0;
    width: 100%;
  }
  .wmk2020-card {
    width: 100vw;
    padding: 36px 36px 0 36px;
    box-sizing: border-box;
  }
  .wmk2020-card-image-container {
    width: 100%;  /* 100% width - 72px for margins */
    height: calc( 9 * ( 100vw - 72px ) / 16 );  /* 16/9 ratio */
    overflow: hidden;
  }
  .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card-content {
    padding: 22px 0 19px 0;
  }
  .wmk2020-card-title {
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 15px 0;
  }
  .wmk2020-card-excerpt {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .wmk2020-card.sticky {
    width: 100vw;
    height: 60vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -1;  /* Need negative due to relative positioning. Otherwise pops above menu. */
  }
  .wmk2020-card.sticky .wmk2020-card-image-container {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
  }
  .wmk2020-card.sticky .wmk2020-card-image {
    width: 100%;
    height: auto;
  }
  .wmk2020-card.sticky .wmk2020-card-content {
    position: absolute;
    right: 36px;
    top: 36px;
    color: #fefefe;
    text-align: right;
    width: 60vw;
  }
}


.wmk2020-page-logo {
  position: absolute;
  height: 80px;
  left: 50vw;
  top: 20px;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.wmk2020-page-h1 {
  position: absolute;
  left: var(--margin-left);
  top: 55vh;
  width: 100%;
  color: #fdfdfd;
  margin: 0;
  text-align: left;
}
@media (max-width: 600px) {
  .wmk2020-page-h1 {
    left: 0;
    text-align: center;
    font-size: 30pt;
  }
  .wmk2020-post-exerpt {
    margin: 0 auto;
    width: 60vw;
    display: block;
    text-align: left;
  }
}
@media (min-width: 601px) {
  .wmk2020-page-h1 {
    font-size: 48pt;
  }
  .wmk2020-post-exerpt {
    width: 60vw;
    display: block;
    text-align: left;
  }
}
.wmk2020-page-top-header {
  /* compensate if post-exerpt not present. */
  margin-bottom: 46px;
}
.wmk2020-front-top-header {
  /* give first header a little more spece from the landing image section. */
  margin-bottom: 36px;
}
.wmk2020-post-content ol, .wmk2020-post-content ul {
  margin-left: 1.5em;
}
.wmk2020-post-content em {
  background-color: #efefef;
  text-decoration: underline #cecece;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-style: normal;
}
.wmk2020-post-content img {
  width: 100%;
  height: auto;
}
.wmk2020-post-content p:first-child::first-letter {
  font-size: 5em;
  float: left;
  line-height: 0.65;
  margin: 0.1em 0.05em 0 0;
}
.wmk2020-post-content p, .wmk2020-post-content li {
  text-align: justify;
}
/** 800 is chosen deliberately here, and depends on the 150px margin. */
@media (max-width: 820px) {
  .wmk2020-post-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 821px) and (max-width: 1100px) {
  .wmk2020-post-content {
    padding-left: calc( ( 100vw - ( 820px - 10px - 10px ) ) / 2 );
    padding-right: calc( ( 100vw - ( 820px - 10px - 10px ) ) / 2 );
  }
}
@media (min-width: 1101px) {
  .wmk2020-post-content {
    padding-left: 150px;
    padding-right: 150px;
  }
}